<!-- one way binding and two way binding -->
<h2>{{title}}</h2>
<h2>{{fullName}}</h2>

<input type="text" [(ngModel)]="fullName">
<br>
<!-- string interpolation -->
<h2>{{title}}</h2>
<strong>{{test()}}</strong>


<!-- property binding -->
 <h1 [innerHTML]="job"></h1>
 <h1 [innerText]="job"></h1>


 <!-- Event binding -->
<h5>The button was clicked {{clickCount}} times.</h5>
<button (click)='buttonClickCount()'>click me</button> <br><br>



<!-- Combined Example: Property Binding and Event Binding -->
 <input type="text" (input)="onInputChanged($event)" placeholder="Type something">
 <button [disabled]="isButtonDisabled" (click)="onButtonClick()">Submit</button>
<br><br>
 <!-- focus event -->
  <h1>{{ message }}</h1>
 <input (focus)="handleFocus()" placeholder="Focus on me">
<br><br>
<!-- blur event -->

<h2>{{blurMsg}}</h2>
<input type="text" (blur)="handleBlur()">
<br><br>
<!--change event  -->

<select (change)="handleChange($event)">
  <option value="option1">Option 1</option>
  <option value="option2">Option 2</option>
  <option value="option3">Option 3</option>
</select>
<p>You selected: {{ selectedValue }}</p>

<!-- mouse over -->
<h2>{{ message }}</h2>
<button (mouseover)="handleMouseOver()">Hover over me</button> <br><br>

<!-- keyup -->
<input (keyup)="handleKeyup($event)" placeholder="Press any key">
<p>You pressed: {{ keyPressed }}</p>

<!-- submit   -->
 <!-- <h4>{{formData}}</h4>
 <form (submit)="handleSubmit($event)">
    <input name="inputField" placeholder="Type something">
    <button type="submit">Submit</button>
  </form> -->
<br>
<h2>ngFor:</h2>
<!--  Basic Looping through an Array
 -->
<p *ngFor="let place of places">{{place}}</p>
<!--  Using the Index in a Loop
 -->
<p *ngFor="let place of places; let i=index">{{i+1}}.{{place}}</p>

<!--  Using first, last, and odd
 -->
<ul>
  <li *ngFor="let place of places;let i=index;let first=first;let last=last;let even=even;let odd=odd">
    {{i}}.{{place}}
    <span *ngIf="first">{{first}}</span>
    <span *ngIf="last">(last)</span>
    <span *ngIf="even">(even)</span>
    <span *ngIf="odd">(odd)</span>

  </li>
</ul>
 <!--  Looping Through an Array of Objects
 -->
 <ul>
  <li *ngFor="let user of users ">
   name:{{user.name}}, age:{{user.age}}
  </li>
 </ul>


<!-- get 0 index -->
 <ul>
  <li *ngFor="let place of places">
    {{place[0]}}
  </li>
 </ul>

 <!--  Nested *ngFor -->
   <h2>Nested *ngFor </h2>
  <div *ngFor="let group of groups">
    <h1>{{group.name}}</h1>
    <ul *ngFor="let member of group.member">
      <li>{{member}}</li>

    </ul>
    
  </div>
  <!-- ngIf -->
   <input type="checkbox" [(ngModel)]="showMe">
  <p *ngIf="showMe">Show me</p>

  <!-- using else -->
  <div *ngIf="isLoading; else content">
    <p>Loading...</p>
  </div>
  
  <ng-template #content>
    <p>Data has been loaded!</p>
  </ng-template>


  <!--using conditions  -->
  <div *ngIf="person.age>=18 && person.isIndian; else notEligible">
    <h1>Person Eligible for vote</h1>
  </div>

  <ng-template #notEligible>
    <h1>Person not eleigible for voting</h1>
  </ng-template>
<br>

  <!-- attribute Directive -->
   <h1 [ngClass]="['color','bg']">This is class attribute</h1>

   <!-- <h1 [ngClass]="{'color','bg':applyBg}">This is class attribute</h1> -->
   <h1 [ngClass]="{'color': applyBg, 'bg': applyBg}">This is class attribute</h1>

   <!-- two way binding using class -->
    <input type="checkbox" [(ngModel)]="applyBg">
    <h6 [ngClass]="{'bg':applyBg}">Sample text</h6>

<!-- ngStyle -->
 <h2 [ngStyle]="{'color':'red','font-style':'italic'}">hello how are you</h2>


 <app-counter></app-counter>

<app-pipe></app-pipe>

<br><br>
<!-- <h1>Data passing into two components</h1>
<app-form (bikeAdded)="onBikeAdded($event)"></app-form>
<app-list [bikes]="bikes"></app-list> -->

<!-- <h1>Data passing into using service two components</h1>-->
<app-form ></app-form>
<app-list></app-list>
<app-life-cycle-hook [colors]="colorList"></app-life-cycle-hook>